In [1]:
import pandas as pd
import numpy as np
from Univariate_utils import Univariate

In [2]:
dataset=pd.read_csv("Placement_Data_Full_Class.csv")
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [3]:
# dataset.info()

In [4]:
# dir(dataset)

In [5]:
# dataset.dtypes

In [6]:
# dataset["ssc_p"].dtypes

In [7]:
# for columnName in dataset.columns:
#     print(columnName)

In [8]:
# if(dataset["ssc_p"].dtype=='O'):
#     print("Qual")
# else:
#     print("Quan")

In [9]:
# dataset

# Central tendency

In [10]:
# dataset["ssc_p"].mean()

In [11]:
# dataset["ssc_p"].median()

In [12]:
# dataset["ssc_p"].mode()[0]

In [13]:
# dataset.describe()

In [14]:
# descriptive=pd.DataFrame()

In [15]:
# descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
# descriptive

In [16]:
# descriptive["hsc_p"]["Median"]

In [17]:
# descriptive["hsc_p"]["Median"]=0
# descriptive

# mean

In [18]:
# descriptive

# Medium

In [19]:
# descriptive

# mode

In [20]:
# np.percentile(dataset["ssc_p"],75)

In [21]:
# print(dataset['salary'].isna().sum().sum())

In [22]:
# Step 1: Separate quantitative and qualitative
quan, qual = Univariate.quanQual(dataset)
print("Quantitative:", quan)
print("Qualitative:", qual)

Quantitative: ['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']
Qualitative: ['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']

In [23]:
# Step 2: Descriptive statistics
descriptive = Univariate.descriptive_stats(dataset, quan)
print(descriptive)

           sl_no     ssc_p     hsc_p   degree_p   etest_p     mba_p   salary
Mean         108   67.3034   66.3332    66.3702   72.1006   62.2782   288655
Median       108        67        65         66        71        62   265000
Mode           1        62        63         65        60      56.7   300000
Q1:25%      54.5      60.6      60.9         61        60    57.945   240000
Q2:50%       108        67        65         66        71        62   265000
Q3:75%     161.5      75.7        73         72      83.5    66.255   300000
99%       212.86        87     91.86      83.86        97   76.1142   671200
Q4:100%      215      89.4      97.7         91        98     77.89   940000
IQR          107      15.1      12.1         11      23.5      8.31    60000
1.5Rule    160.5     22.65     18.15       16.5     35.25    12.465    90000
Lesser      -106     37.95     42.75       44.5     24.75     45.48   150000
Greater      322     98.35     91.15       88.5    118.75     78.72   390000
Min            1     40.89        37         50        50     51.21   200000
Max          215      89.4      97.7         91        98     77.89   940000
kurtosis    -1.2  -0.60751  0.450765  0.0521433  -1.08858 -0.470723  18.5443
skew           0 -0.132649  0.163639   0.244917  0.282308  0.313576  3.56975

In [24]:
# Step 3: Detect outliers
lesser, greater = Univariate.outliercolnames(descriptive, quan)
print("Lesser outliers:", lesser)
print("Greater outliers:", greater)

Lesser outliers: ['hsc_p']
Greater outliers: ['hsc_p', 'degree_p', 'salary']

In [25]:
# Step 4: Cap outliers
data_capped = Univariate.cap_outliers(dataset, descriptive, lesser, greater)
print(data_capped)

     sl_no gender  ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p  \
0        1      M  67.00   Others  91.00   Others  Commerce     58.00
1        2      M  79.33  Central  78.33   Others   Science     77.48
2        3      M  65.00  Central  68.00  Central      Arts     64.00
3        4      M  56.00  Central  52.00  Central   Science     52.00
4        5      M  85.80  Central  73.60  Central  Commerce     73.30
..     ...    ...    ...      ...    ...      ...       ...       ...
210    211      M  80.60   Others  82.00   Others  Commerce     77.60
211    212      M  58.00   Others  60.00   Others   Science     72.00
212    213      M  67.00   Others  67.00   Others  Commerce     73.00
213    214      F  74.00   Others  66.00   Others  Commerce     58.00
214    215      M  62.00  Central  58.00   Others   Science     53.00

      degree_t workex  etest_p specialisation  mba_p      status    salary
0     Sci&Tech     No     55.0         Mkt&HR  58.80      Placed  270000.0
1     Sci&Tech    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0
2    Comm&Mgmt     No     75.0        Mkt&Fin  57.80      Placed  250000.0
3     Sci&Tech     No     66.0         Mkt&HR  59.43  Not Placed       NaN
4    Comm&Mgmt     No     96.8        Mkt&Fin  55.50      Placed  390000.0
..         ...    ...      ...            ...    ...         ...       ...
210  Comm&Mgmt     No     91.0        Mkt&Fin  74.49      Placed  390000.0
211   Sci&Tech     No     74.0        Mkt&Fin  53.62      Placed  275000.0
212  Comm&Mgmt    Yes     59.0        Mkt&Fin  69.72      Placed  295000.0
213  Comm&Mgmt     No     70.0         Mkt&HR  60.23      Placed  204000.0
214  Comm&Mgmt     No     89.0         Mkt&HR  60.22  Not Placed       NaN

[215 rows x 15 columns]

In [26]:
# #Value count
# dataset["ssc_p"].value_counts()

In [27]:
#Sort by index
# dataset["ssc_p"].value_counts().sort_index()

In [28]:
# #Sort by Values
# dataset["ssc_p"].value_counts().sort_values()

In [29]:
# #Sort by Values ascending=True
# dataset["ssc_p"].value_counts().sort_values(ascending=True)

In [30]:
# #Sort by Values ascending=False
# dataset["ssc_p"].value_counts().sort_values(ascending=False)

In [31]:
# #Sort by index ascending=True
# dataset["ssc_p"].value_counts().sort_index(ascending=True)

In [32]:
#Sort by index ascending=False
# dataset["ssc_p"].value_counts().sort_index(ascending=False)

In [33]:
#Save the total count in variable
# count=dataset["ssc_p"].count()

In [34]:
# count

NameError: name 'count' is not defined

In [38]:
# create freqTable
freqTable=pd.DataFrame(columns=["Unique_Values","Frequecy","Relative_Frequeny","CumSum"])
freqTable

Empty DataFrame
Columns: [Unique_Values, Frequecy, Relative_Frequeny, CumSum]
Index: []

In [39]:
#Find "Unique_Values","Frequecy","Relative_Frequeny","CumSum" for the table freqTable
freqTable["Unique_Values"]=dataset["ssc_p"].value_counts().index
freqTable["Frequecy"]=dataset["ssc_p"].value_counts().values
freqTable["Relative_Frequeny"]=(freqTable["Frequecy"]/103)
freqTable["CumSum"]=freqTable["Relative_Frequeny"].cumsum()

In [40]:
freqTable

     Unique_Values  Frequecy  Relative_Frequeny    CumSum
0            62.00        11           0.106796  0.106796
1            63.00        10           0.097087  0.203883
2            67.00         9           0.087379  0.291262
3            52.00         9           0.087379  0.378641
4            73.00         9           0.087379  0.466019
..             ...       ...                ...       ...
98           80.60         1           0.009709  2.048544
99           65.20         1           0.009709  2.058252
100          80.40         1           0.009709  2.067961
101          59.96         1           0.009709  2.077670
102          78.50         1           0.009709  2.087379

[103 rows x 4 columns]

In [ ]:
# #Covert into Function
# def freqTable(columnName,dataset):
#     freqTable=pd.DataFrame(columns=["Unique_Values","Frequecy","Relative_Frequeny","CumSum"])
#     freqTable["Unique_Values"]=dataset[columnName].value_counts().index
#     freqTable["Frequecy"]=dataset[columnName].value_counts().values
#     freqTable["Relative_Frequeny"]=(freqTable["Frequecy"]/103)
#     freqTable["CumSum"]=freqTable["Relative_Frequeny"].cumsum()
#     return freqTable

In [41]:
#Find "Unique_Values","Frequecy","Relative_Frequeny","CumSum" for "ssc_p"
ft = Univariate.freqTable("ssc_p", dataset)
print(ft)

     Unique_Values  Frequency  Relative_Frequency    Cumsum
0            62.00         11            0.051163  0.051163
1            63.00         10            0.046512  0.097674
2            67.00          9            0.041860  0.139535
3            52.00          9            0.041860  0.181395
4            73.00          9            0.041860  0.223256
..             ...        ...                 ...       ...
98           80.60          1            0.004651  0.981395
99           65.20          1            0.004651  0.986047
100          80.40          1            0.004651  0.990698
101          59.96          1            0.004651  0.995349
102          78.50          1            0.004651  1.000000

[103 rows x 4 columns]

In [42]:
dir(dataset["ssc_p"])

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_binop',
 '_box_item_values',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_create_indexer',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_find_valid_index',
 '_formatting_values',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_space_character_free_column_resolvers',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_iget_item_cache',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_ndarray_values',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_subtyp',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'as_matrix',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'autocorr',
 'axes',
 'base',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'clip_lower',
 'clip_upper',
 'combine',
 'combine_first',
 'compound',
 'compress',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'data',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_array',
 'ftype',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'imag',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'itemsize',
 'iteritems',
 'ix',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'nonzero',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'ptp',
 'put',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'real',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'strides',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_msgpack',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sparse',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [43]:
dataset["ssc_p"].skew()

-0.13264949031456927

In [44]:
dataset["ssc_p"].kurtosis()

-0.6075102066986688